{% extends "layout.html" %}

{% block title %}
    Current Holdings
{% endblock %}

{% block main %}
    <h3>Current Holdings</h3>

    <table class=table-striped style="width:50%" align="center">
    <!-- table header -->
    {% if data %}
        <tr>
        {% for key in data[0] %}
            <th> {{ key }} </th>
        {% endfor %}
        </tr>
    {% else %}
        <br>
        <h3>You have no holdings</h3>
    {% endif %}
    <!-- table rows -->
    {% for item in data %}
        <tr>
        {% for value in item.values() %}
            <td> {{ value }} </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
    <br>
    Available Cash: ${{cash}}<br>
{% endblock %}

