{% extends "layout.html" %}

{% block title %}
    Sell, Sell, Sell!
{% endblock %}

{% block main %}
    <h3>Sell Shares</h3><br>

    <form action="/sell" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Ticker Symbol" type="text"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="qty" placeholder="QTY" type="text"/>
        </div>
        Available Cash: ${{cash}}
        <br><br>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>

    <br>
        <h4>Current Holdings</h5>

    <table class=table-striped style="width:30%" align="center">
    <!-- table header -->
        <tr>{% for key in data[0] %}<th> {{ key }} </th>{% endfor %}</tr>
    <!-- table rows -->
    {% for item in data %}
        <tr>{% for value in item.values() %}<td> {{ value }} </td>{% endfor %}</tr>
    {% endfor %}
    </table>
    <br>
{% endblock %}

